html,body{
    background-color: #1F1F1F;
}
#wrapper > #navigation{
    width: 500px;
    font-size: 0;
}
#wrapper > #navigation > div{
    float: left;
    height: 46px;
    width: 46px;
    margin: 24px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #7f7f7f;
    border-radius: 4px;
    transition: .7s all;
}
#wrapper > #navigation > div.active{
    background-color: #EF9930;
    border-color: #EF9930;
}
#wrapper > #navigation > div:nth-child(2){
    width: 246px;
}
#wrapper > #navigation > div:nth-child(4){
    height: 144px;
}
#wrapper > #navigation > div:nth-child(5){
    margin-right: 125px;
}
#wrapper > #navigation > div:nth-child(10){
    width: 150px;
}
#wrapper > #navigation > div:nth-child(12){
    margin-right: 226px;
}