.rect-navigation{
    display: inline-block;
    width: 550px;
}
.rect-navigation > div{
    height: 50px;
    width: 50px;
    margin: 25px;
    display: inline-block;
    vertical-align: top;
    float: left;
    border: 2px solid #7f7f7f;
    border-radius: 4px;
    transition: .7s all;
}
.rect-navigation > div.active{
    background-color: #EF9930;
    border-color: #EF9930;
}